.intro {
    font-size: 1.5rem;
    line-height: 1.5;
}

.loader {
    text-align: center;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.app {
    margin-left: 200px;
    margin-right: 200px;
}

.pagination {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
